<template>
  <div>
    <announcemnet/>
  </div>
</template>

<script>
import announcemnet from './components/announcement'
export default {
  name: 'home',
  components: {
    announcemnet
  }
}
</script>
